name: MSBuild

on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - ".gitignore"
      - "README.md"
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - ".gitignore"
      - "README.md"
      - ".github/**"

env:
  SOLUTION_FILE_PATH: build/ffTools.sln
  BUILD_CONFIGURATION: Release

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: add msbuild to path
      uses: microsoft/setup-msbuild@v1.0.2

    - name: restore nuget packages
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: nuget restore ${{env.SOLUTION_FILE_PATH}}

    - name: build solution
      working-directory: ${{env.GITHUB_WORKSPACE}}
      run: msbuild /m /p:Configuration=${{env.BUILD_CONFIGURATION}} ${{env.SOLUTION_FILE_PATH}}

    - name: upload release build
      uses: actions/upload-artifact@v4
      with:
        name: ffTools-release
        path: build/bin/${{env.BUILD_CONFIGURATION}}/
