name: msbuild v145

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  SOLUTION_FILE_PATH: build/ffTools.sln
  BUILD_CONFIGURATION: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: install vs build tools 2026 + v145
      shell: powershell
      run: |
        choco install visualstudio2022buildtools --yes --package-parameters "--add Microsoft.VisualStudio.Workload.VCTools --includeRecommended --includeOptional"
        $installer = 'C:\Program Files (x86)\Microsoft Visual Studio\Installer\vs_installer.exe'
        & $installer modify `
          --installPath "C:\BuildTools2022" `
          --add Microsoft.VisualStudio.Workload.VCTools `
          --add Microsoft.VisualStudio.Component.VC.v145 `
          --quiet --wait

    - name: use v145 toolchain
      shell: powershell
      run: |
        & "C:\BuildTools2022\VC\Auxiliary\Build\vcvarsall.bat" x64 14.50

    - name: restore
      run: nuget restore $env:SOLUTION_FILE_PATH

    - name: build (v145)
      shell: cmd
      run: |
        "C:\BuildTools2022\MSBuild\Current\Bin\MSBuild.exe" %SOLUTION_FILE_PATH% /m /p:Configuration=%BUILD_CONFIGURATION%

    - name: upload release build
      uses: actions/upload-artifact@v4
      with:
        name: ffTools-release
        path: build/bin/Release/
